@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tsukimi Rounded, sans-serif;
  color: antiquewhite;
}

h1 {
  text-align: center;
}

button {
  box-shadow: 1px 1px 0 1px black;
  padding: 5px 10px;
  font-family: Tsukimi Rounded, sans-serif;
  color: antiquewhite;
  background-color: brown;
  border-radius: 20px;
  border: none;
}

input {
  border: 1px solid black;
  font-family: Tsukimi Rounded, sans-serif;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  border-bottom: 1px solid black;
  font-size: 20px;
  background-color: rgba(245, 86, 97, 1);
  box-shadow: 0 0 5px 5px black;
}

main {
  min-height: calc(100vh - (64px));
  background: linear-gradient(45deg, #120254, #7052c9, #120254);
  padding-top: 20px;
}

footer {
  border-top: 1px solid black;
  padding: 10px 0;
  padding-left: 20px;
  background-color: rgba(245, 86, 97, 1);
}

section {
  margin-top: 50px;
}

.hide {
  display: none;
}

.change-color {
  color: blue;
}

#nav-section {
  display: flex;
  gap: 20px;
}

.nav-sections:hover {
  cursor: pointer;
}

.nav-sections:not(:first-child) {
  border-left: 1px solid black;
  padding-left: 20px;
}

#date {
  text-align: right;
  margin-right: 10px;
}

#books-section {
  animation-name: books;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes books {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

#books-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-bottom: none;
  margin: 30px 10px;
}

.books {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 15px 20px;
}

.books:nth-child(odd) {
  background-color: #f973cc;
}

.books-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

#addBook-section {
  animation-name: addBook;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes addBook {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#form-book {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 30px;
}

#form-book input {
  width: 100%;
  padding: 5px 10px;
}

#contact {
  animation-name: contact;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes contact {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

#contact h2 {
  text-align: center;
  margin-bottom: 40px;
}

#contact-container {
  margin-left: 5%;
}

#contact-list {
  list-style: disc;
  margin-top: 20px;
  margin-left: 50px;
}

#mobile-header {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
  padding-top: 20px;
  margin-top: 0;
  background-color: rgba(245, 86, 97, 1);
  box-shadow: 0 0 5px 5px black;
}

@media only screen and (min-width: 768px) {
  #desktop-header {
    display: flex;
  }

  #mobile-header {
    display: none;
  }

  #contact-container {
    margin-left: 15%;
  }

  #footer {
    display: block;
  }

  main {
    min-height: calc(100vh - (64px + 64px));
  }
}
