@import url('https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Tsukimi Rounded, sans-serif;
}

h1 {
  text-align: center;
}

button {
  box-shadow: 1px 1px 0 1px black;
  padding: 5px 10px;
  font-family: Tsukimi Rounded, sans-serif;
}

input {
  border: 1px solid black;
  font-family: Tsukimi Rounded, sans-serif;
}

input:focus {
  outline: none;
}

ul {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  margin: 10px 10px;
  border: 1px solid black;
}

main {
  min-height: calc(100vh - (64px + 64px));
}

footer {
  border: 1px solid black;
  margin: 10px 10px;
  padding: 10px 0;
  padding-left: 20px;
}

section {
  margin-top: 50px;
}

.hide {
  display: none;
}

.change-color {
  color: blue;
}

#nav-section {
  display: flex;
  gap: 20px;
}

.nav-sections:hover {
  cursor: pointer;
}

.nav-sections:not(:first-child) {
  border-left: 1px solid black;
  padding-left: 20px;
}

#date {
  text-align: right;
  margin-right: 10px;
}

#books-container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-bottom: none;
  margin: 30px 10px;
}

.books {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding: 15px 20px;
}

.books:nth-child(odd) {
  background-color: #f2f2f2;
}

.books-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

#form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#form-book {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  width: 25%;
  margin-top: 30px;
}

#form-book input {
  width: 100%;
  padding: 5px 10px;
}

#contact h2 {
  text-align: center;
  margin-bottom: 40px;
}

#contact-container {
  margin-left: 10%;
}

#contact-list {
  list-style: disc;
  margin-top: 20px;
  margin-left: 50px;
}
